.bd{
    background-color: #abdbe3;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;    
}


input[type=file]::file-selector-button{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    
}
h1{
    text-align: center;
    text-decoration: underline;
}

input[type=submit].b2{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}
input [name="file"]::file-selector-button{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}